docker-compose.yml
conf/nginx/nginxconfig.txt
conf/configs/amass.ini
conf/configs/amass*.ini
conf/configs/crontab.txt
conf/configs/githoundconfig.yml
conf/configs/githoundconfig*.yml
conf/configs/nuclei-templates/*
conf/configs/ipscankeys/*
database/*