version: '3.7'
networks:
  default:
    driver: bridge

services:
  app:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    ports:
      - '80:80'
      - '443:443'
    networks:
      - default
    depends_on:
      - db
    volumes:
      - '../app:/var/www/app'
      - './conf/nginx:/etc/nginx/sites-available'
      - '/var/run/docker.sock:/var/run/docker.sock'
      - 'dockerresults:/dockerresults'
      - 'ffuf:/ffuf'
      - 'nuclei:/nuclei'
      - 'configs:/configs'
      - 'jsa:/jsa'
      - 'screenshots:/screenshots'
    extra_hosts:
      - 'localhost.soft:127.0.0.1'
      - 'dev.localhost.soft:127.0.0.1'
    logging:
      driver: "json-file"
      options:
        max-size: "10m"  
    restart: always  

  db:
    image: 'mysql:5.7'
    command: --default-authentication-plugin=mysql_native_password --max_allowed_packet=1G --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --skip-character-set-client-handshake
    restart: always
    networks:
      - default
    ports:
      - '3336:3306'
    environment:
      #you need to change it at env.example too!!
      MYSQL_ROOT_PASSWORD: SupeRsecRetpasSword
      MYSQL_DATABASE: scaner
    volumes:
      - './database:/var/lib/mysql'
      - './conf/db-scripts:/docker-entrypoint-initdb.d'
    logging:
      driver: "json-file"
      options:
        max-size: "10m"  

    #docker exec -i docker_db_1 sh -c 'exec mysql -uroot -p"SupeRsecRetpasSword"' < /root/project/scaner2.sql

  cron:
    image: 5631/cron
    restart: always
    networks:
      - default
    depends_on:
      - app
    volumes:
      - './conf/configs/crontab.txt:/etc/cron.d/crontab'
      - '/var/run/docker.sock:/var/run/docker.sock'
    logging:
      driver: "json-file"
      options:
        max-size: "2m"    
  
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: db
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: SupeRsecRetpasSword
      PMA_ABSOLUTE_URI: "https://scaner.app/phpmyadmin/"
      UPLOAD_LIMIT: 3000000000
    networks:
      - default
    logging:
      driver: "json-file"
      options:
        max-size: "5m" 
  
  amass:
    image: caffix/amass
    networks:
      - default
    volumes:
      - 'dockerresults:/dockerresults'
      - 'configs:/configs'
    logging:
      driver: "json-file"
      options:
        max-size: "2m"    

  gau:
    image: 5631/gau
    networks:
      - default
    volumes:
      - 'dockerresults:/dockerresults'
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
  
  nmap:
    image: instrumentisto/nmap
    networks:
      - default
    ports:
      - '53:53'
    volumes:
      - 'nmap:/nmap'
      - 'configs:/configs'
    logging:
      driver: "json-file"
      options:
        max-size: "2m"  

  ffuf:
    image: 5631/ffuf
    networks:
      - default
    volumes:
      - 'dockerresults:/dockerresults'
      - 'configs:/configs'
      - 'ffuf:/ffuf'
    logging:
      driver: "json-file"
      options:
        max-size: "2m"  

  nuclei:
    image: projectdiscovery/nuclei
    networks:
      - default
    volumes:
      - 'nuclei:/nuclei'
      - 'configs:/root/'

    logging:
      driver: "json-file"
      options:
        max-size: "2m"
  
  httpx:
    image: projectdiscovery/httpx
    networks:
      - default
    volumes:
      - 'ffuf:/ffuf'
      - 'configs:/configs'
    logging:
      driver: "json-file"
      options:
        max-size: "2m"           

  #githound:
  #  image: 5631/githound
  #  networks:
  #    - default
  #  volumes:
  #    - 'dockerresults:/dockerresults'
  #    - 'configs:/configs'    

  #aquatone:
  #  image: 5631/aquatone
  #  networks:
  #    - default
  #  volumes:
  #    - 'screenshots:/screenshots'
  #  logging:
  #    driver: "json-file"
  #    options:
  #      max-size: "2m" 
     
volumes:
  dockerresults:
    name: dockerresults
  configs:
    name: configs
  screenshots:
    name: screenshots
  ffuf:
    name: ffuf 
  jsa:
    name: jsa
  nuclei:
    name: nuclei
  nmap:
    name: nmap









