version: '3.7'
networks:
  default:
    driver: bridge
services:
  app:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    ports:
      - '80:80'
      - "3550:22"
    networks:
      - default
    depends_on:
      - db
    volumes:
      - '../app:/var/www/app'
      - './conf/nginx:/etc/nginx/sites-available'
      - '/var/run/docker.sock:/var/run/docker.sock'
      - 'dockerresults:/dockerresults'
      - 'configs:/root/configs'
      - 'screenshots:/screenshots'
    extra_hosts:
      - 'localhost.soft:127.0.0.1'
      - 'dev.localhost.soft:127.0.0.1'
  db:
    image: 'mysql:latest'
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: always
    networks:
      - default
    ports:
      - '3336:3306'
    environment:
      #you need to change it at .env too!!
      MYSQL_ROOT_PASSWORD: SupeRsecRetpasSword
      MYSQL_DATABASE: scaner
    volumes:
      - './database:/var/lib/mysql'
      - './conf/db-scripts:/docker-entrypoint-initdb.d'
    logging:
      driver: none
  cron:
    image: 5631/cron
    restart: always
    networks:
      - default
    depends_on:
      - app
    logging:
      driver: none
    volumes:
      - './conf/configs/crontab.txt:/etc/cron.d/crontab'
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: db
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: SupeRsecRetpasSword
    networks:
      - default
    logging:
      driver: none
  amass:
    image: caffix/amass
    networks:
      - default
    volumes:
      - 'dockerresults:/dockerresults'
      - 'configs:/root/configs'
    logging:
      driver: none
  aquatone:
    image: 5631/aquatone
    networks:
      - default
    volumes:
      - 'screenshots:/screenshots'
    logging:
      driver: none
  dirsearch:
    image: 5631/dirsearch
    networks:
      - default
    volumes:
      - 'dockerresults:/dockerresults'
      - 'configs:/root/configs'
    logging:
      driver: none
  linkfinder:
    image: 5631/linkfinder
    networks:
      - default
    volumes:
      - 'dockerresults:/dockerresults'
      - 'configs:/root/configs'
    logging:
      driver: none
  nmap:
    image: instrumentisto/nmap
    networks:
      - default
    volumes:
      - 'dockerresults:/dockerresults'
      - 'configs:/root/configs'
    logging:
      driver: none
volumes:
  dockerresults:
    name: dockerresults
  configs:
    name: configs
  screenshots:
    name: screenshots