###DB settings(should be changed manually in docker-compose too!)
DB_NAME = "scaner"
DB_ROOT_PW = "1"

#Yii settings
api_secret = "secretkeyzzzzcbv55"
DB_USER = "root"
DB_PASSWORD = "1"
COOKIE_VALIDATION_KEY = "1234"
PROXY_HOST = "192.168.0.0/24"
DB_DSN = "mysql:host=db;dbname=scaner"

SMTP_HOST = "localhost"
SMTP_USER = "admin"
SMTP_PASSWORD = "admin"
SMTP_PORT = "25"

SLACK_WEBHOOK_URL = "1"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
SQLITE3_DB=test.db
COMPOSE_CONVERT_WINDOWS_PATHS=1